.contact-container {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 2%;
    padding: 20px;
}

.contact-container h2 {
    font-size: 28px;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: #fff;
}

.contact-item:hover {
    transform: translateY(-2px);
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #ddd;
    padding: 5px;
}

.contact-item span {
    font-size: 16px;
    color: #333;
}

.contact-item a {
    text-decoration: none;
    color: inherit;
}

.contact-item a:hover {
    color: #007bff;
}

@media (max-width: 480px) {
    .navbar {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #d5cdf3;
      z-index: 1000;
      margin-top: 10vh;
    }
  
    .navbar.active {
      display: block;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .navbar li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
    }

    .contact-container {
        margin-top: 50%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .navbar {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #A6B1E1;
      z-index: 1000;
      margin-top: 10vh;
    }
  
    .navbar.active {
      display: block;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .navbar li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
    }

    .contact-container{
        margin-top: 50%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .header {
      align-items: center;
      text-align: center;
    }

    .contact-container{
        margin-top: 30%;
    }
  }