/*HERO IMAGE*/
.hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
}

.hero-image:first-child {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: purple;
  /*background-color: rgba(213, 205, 243, 0.9)*/
  /*color: #d5cdf3;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);*/
  width: 100%;
}

.text-overlay h1 {
  font-size: 34px;
  margin-bottom: 10px;
  font-family: "IBM Plex Mono", monospace;
}


/*About me*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.about {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.about h2 {
  font-size: 28px;
  margin-left: 20%;
}

.about p {
  font-size: 18px;
  text-align: justify;
  margin-left: 20%;
}

.images {
  width: 50%;
  text-align: center;
}

.images img {
  max-width: 50%;
  height: auto;
}

/*videos*/
.videos h2 {
  font-size: 28px;
  margin-left: 11%;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Razmak između videa */
}

.video-wrapper {
  position: relative;
  width: 560px;
  padding-bottom: 20%; /* 16:9 aspect ratio */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*services*/
.services_all {
  margin-top: 10%;
}

.services_all h2 {
  font-size: 28px;
  margin-left: 11%;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.services a {
  margin-right: 30px;
  position: relative;
  display: block;
}

.services span {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.services img {
  width: 300px;
  height: auto;
  filter: brightness(50%);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px;
  opacity: 1;
  transition: transform 0.3s ease;
}

.services img:hover {
  transform: scale(1.1);
}

/*Reviews*/
.reviews {
  margin-top: 10%;
}

.reviews h2 {
  font-size: 28px;
  margin-left: 11%;
}

.grid-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  grid-gap: 1%;
}

.review {
  padding: 20px;
  text-align: center;
}

.review h3 {
  text-align: left;
  font-size: 20px;
}

.review p {
  text-align: justify;
  font-size: 18px;
}

/*Contact*/
.about_contact {
  margin-top: 50px;
  background-image: url(images/background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  height: 150px;
  background-color: rgba(243, 217, 238, 0.2)
}

.contact-icons a {
  display: inline-block;
  margin: 0 30px;
  transition: transform 0.3s ease;
}

.contact-icons a img {
  width: 30px;
  height: auto;
}

.contact-icons a:hover {
  transform: translateY(-5px);
}

@media (max-width: 480px) {
  .header {
    height: 5vh;
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d5cdf3;
    z-index: 1000;
    margin-top: 6vh;
  }

  nav {
    height: 5vh;
  }

  .navbar.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d5cdf3;
    z-index: 1000;
    margin-top: 6vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    justify-content: center;
    margin-left: -10%;
  }

  .hero {
    height: 300px;
  }

  .text-overlay {
    margin-top: -12%;
  }

  .text-overlay h1 {
    font-size: 24px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content h2 {
    margin-left: 10%;
    text-align: left;
  }

  .content p {
    position: static;
    align-items: center;
    width: 98%;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    transform: none;
  }

  .about,
  .images {
    width: 100%;
    text-align: center;
  }

  .images {
    margin-top: 20px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .services a {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 8px;
    text-align: center;
  }

  .grid-reviews {
    grid-template-columns: 1fr;
  }

  .review {
    padding: 8px;
  }

  .contact-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    height: 8vh;
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d5cdf3;
    z-index: 1000;
    margin-top: 6vh;
  }

  nav {
    height: 8vh;
  }

  .navbar.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d5cdf3;
    z-index: 1000;
    margin-top: 8vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    justify-content: center;
    margin-left: -10%;
  }

  .hero {
    height: 400px;
  }

  .text-overlay {
    margin-top: -2%;
  }

  .text-overlay h1 {
    font-size: 28px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content h2 {
    margin-left: 10%;
    text-align: left;
  }

  .about {
    width: 90%;
  }

  .about p {
    position: static;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-left: 0;
    transform: none;
  }

  .images {
    margin-top: 20px;
    width: 90%;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .services a {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 8px;
    text-align: center;
  }

  .grid-reviews {
    grid-template-columns: 1fr;
  }

  .review {
    padding: 8px;
  }

  .contact-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .header {
    align-items: center;
    text-align: center;
  }

  .hero {
    height: 500px;
  }

  .about p {
    font-size: 16px;
    max-width: 50%;
  }

  .images img {
    max-width: 90%;
    height: auto;
    margin-right: 10%;
  }

  .text-overlay {
    margin-top: -2%;
  }

  .text-overlay h1 {
    font-size: 32px;
  }

  .content {
    flex-wrap: nowrap;
  }

  .about {
    width: 90%;
  }

  .images {
    width: 30%;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .services a {
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}