/*Services*/
section {
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.details {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.details h2 {
    font-size: 28px;
    margin-left: 20%;
}

.details p {
    font-size: 18px;
    text-align: justify;
    margin-left: 20%;
}

.images {
    width: 40%;
    text-align: center;
}

.images img {
    max-width: 50%;
    height: auto;
}